

section {
    display: grid;
    grid-template-rows: 1fr, 2fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border: 1px solid black;
    grid-gap: 30px;

}

section > * {
    font-family: sans-serif;
}

h3, p {
    padding-left: 5px;
}


.education {

    padding: 10px;
}

.header {
    grid-column: span 4;
    display: flex;
    padding: 10px;
    align-items: baseline;
    background-color: rgb(255, 255, 255);
}



.city {
    margin-left: auto;
}

.topleft {
    background-color: rgb(105, 200, 213);
}

.name {
    font-size: 50px;
}

.topright {
    grid-column: span 3;
}

.bottomright {
    grid-column: span 3;
}

i {
    margin-right: 5px;
}

.topright, .bottomleft {
    background-color: azure;
}